

<div *ngIf="!pais; else divpais" class="alert alert-info">
    <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      Espere Por favor...
</div>




    <ng-template #divpais>

        <div class="animate__animated animate__fadeInDown animate__faster">
            <div class="row">
                <div class="col-2">
                    <h3>Bandera</h3>
                    <img id="banderaPais" src="{{pais.flag}}" alt="{{pais.name}}" class="img-thumbnail">
                </div>
                <div class="col-3">
                    <h3>información</h3>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Nombre:</strong> {{pais.name}}</li>
                        <li class="list-group-item"><strong>Capital:</strong> {{pais.capital}}</li>
                        <li class="list-group-item"><strong>Poblacion:</strong> {{pais.population | number}}</li>
                        <li class="list-group-item"><strong>Region:</strong> {{pais.region}}</li>
                        <li class="list-group-item"><strong>Sub-Region:</strong> {{pais.subregion}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
        
                    <h3>Traducciones</h3>
                    <span class="badge bg-primary">{{pais.translations.es}}</span>
                    <span class="badge bg-primary">{{pais.translations.fa}}</span>
                    <span class="badge bg-primary">{{pais.translations.ja}}</span>
                    <span class="badge bg-primary">{{pais.translations.nl}}</span>
                    <span class="badge bg-primary">{{pais.translations.pt}}</span>
        
                </div>
            </div>

        </div>
    
    
      <!--
        <pre class="mt-5">
          {{pais | json}}
        </pre>
      -->
    </ng-template>



