<div #mapa class="mapa-container">

</div>

<div class="row">
    <div class="col-12">
        <label class="form-label">
            Zoom: {{zoomlevel | number: '2.0-2'}} 
            -lng , lat: [{{center[0]}} , {{center [1]}}]
        </label>
        <input type="range" class="form-range" id="customRange1"
         [value]="zoomlevel"
         min="0"
         max="18"
         (input)="zoomCambio(inputZoom.value)"
         #inputZoom
        >
    </div>
    
    <div class="col-12">
        <button class="btn btn-primary" (click)="zoomOut()">
            -
        </button>
        <button class="btn btn-primary float-end" (click)="zoomIn()">
            +
        </button>
    </div>
</div>