<p>error-page works!</p>


<ul>
    <li>
        <a routerLink="/auth/login">ir a login</a>
    </li>

    <li>
     <a routerLink="/auth/registro">ir a resgitro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">Listado Heroes</a>
    </li>
   <!--
    <li>
       <a routerLink="/heroes/agregar">agregar Heroes</a>  
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">editar Heroes</a> 
    </li>
    <li>
        <a routerLink="/heroes/buscar">buscar Heroes</a> 
    </li>
    <li>
        <a routerLink="/heroes/:id">Heroe</a> 
    </li>
    -->
</ul>