<h2>Busquedas</h2>
<hr>

            <div class="btn-group-vertical">


                <button 
                routerLink=''
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact:true }"
                type="button" class="btn btn-outline-primary">
                Buscar Pais
                </button>

                <button 
                routerLink='region' 
                routerLinkActive="active"
                type="button" class="btn btn-outline-primary">
                Buscar Por Region
                </button>
              

                <button 
                routerLink='capital' 
                routerLinkActive="active"
                type="button" class="btn btn-outline-primary">
                Buscar por Capital
                </button>
            
                


            </div>