

<h2>Template: Switches</h2>
<hr>

<form #miForm="ngForm">

    <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Genero</label>
             
            <div class="col-sm-9">
                <div class="form-check">
                    <input 
                    class="form-check-input" 
                    type="radio" name="radioGenero"
                     id="radioMasculino"
                     value="M"
                     [(ngModel)]="persona.genero"
                     required
                     >

                    <label class="form-check-label" for="radioMasculino">
                      Masculino
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" 
                           type="radio" 
                           name="radioGenero" 
                           id="radioFemenino"
                           value="F"
                           [(ngModel)]="persona.genero"
                           required
                           >
                    <label class="form-check-label" for="radioFemenino">
                      Femenino
                    </label>
                  </div>
             </div>
        
    </div>

    <!--SWitch-->

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
         
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                type="checkbox" 
                id="flexSwitchCheckDefault"
                [(ngModel)]="persona.notificacion"
                name="notifi"

                >
                <label class="form-check-label"
                 for="flexSwitchCheckDefault">Quiero recivir notificaciones</label>
              </div>
            
         </div>
    
</div>


 <!--CHECK-->

 <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
     
    <div class="col-sm-9">

        <div class="form-check mt-2">
            <input 
            class="form-check-input" 
            type="checkbox"  
            id="flexCheckDefault"
            name="terminos"
            [(ngModel)]="terminosYcondiciones"
            required
            >
            <label class="form-check-label" for="flexCheckDefault">
              Acepto los Terminos y condiciones
            </label>
          </div>
        
     </div>

</div>


 <!--BOTON-->

 <div class="row">
     <div class="col">
         <button [disabled]="miForm.invalid"
          class="btn btn-primary float-end">Guardar</button>
     </div>
 </div>




</form>


<span>Valor del formulario</span>
<pre>{{miForm.value | json}}</pre>

<br>

<span>Formulario Valido</span>
<pre>{{miForm.valid}}</pre>

<br>

<span>Notificaciones de Error</span>
<pre>{{miForm.controls.terminos?.errors | json}}</pre>


<span>condiciones:</span>